/* HEADER/NAV */


.header {
    background-color: #603F8B;
}

.logo {
    height: 6.5vw;
    margin-top: -12px;
    margin-bottom: -10px;
    margin-right: -1vw;
    margin-left: 1vw;
    transition: all 0.3s;
}

.logo:hover {
    transform: scale(1.1);
}


#drop-menu {
    width: 3vw;
    font-size: 1vw;
    background-color: #603F8B;
    margin-left: 3vw;
    margin-bottom: 3vw;
}

.dropdown {
    margin-left: 30vw;
    font-size: 1.2vw;
    text-decoration: none;
    transition: all 0.3s;
}

.dropdown:hover {
    color: #967333;

}

#drop-items {
    color: #f1b950;
}

#drop-items:focus,
#drop-items:hover {
    color: #ffffff;
    background: #8968b56c;
}

#li-masterclasses {
    margin-top: -0.2vw;
}

#clasesonline {
    color: #f1b950;
    transition: all 0.3s;
    margin-left: 3vw;

}

#clasesonline:hover {
    color: #967333;
}

.nav-a {
    font-size: 1.2vw;
    margin-left: 4vw;
    text-decoration: none;
    color: #f1b950;
    transition: all 0.3s;
}


.nav-a:hover {
    color: #967333;
}


















/* BODY */






























.body {
    width: 100vw;
    height: 100vw;
}

.sec1 {
    background-color: #a16ae886;
    width: 100vw;
    height: 28vw;
}



.titulo1 {
    color: #000000;
    font-family: "Source Sans 3";
    font-weight: 700;
    font-size: 3.2vw;
    line-height: 1.28;
    letter-spacing: -0.5px;
    text-align: left;
    padding-top: 3vw;
    padding-left: 3vw;

}



.subtitulo1 {
    width: 60%;
    height: 10vw;
    color: #000000;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 1.6vw;
    line-height: 1.44;
    text-align: left;
    margin-left: 3vw;
    margin-top: 3vw;
    margin-bottom: -2vw;
}


.boton {
    width: 10vw;
    height: 3.2vw;
    padding: 0px 10px 0px 10px;
    background: #603F8B;
    color: #ffffff;
    border-color: #603F8B;
    border-style: solid;
    border-radius: 2.5vw;
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-size: 1.1vw;
    text-align: center;
    transition: all 0.3s;
    margin-left: 3vw;

}

.boton:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.boton2 {
    width: 10vw;
    height: 3.2vw;
    padding: 0px 10px 0px 10px;
    background: #00000000;
    color: #603F8B;
    border-color: #603F8B;
    border-width: 2px;
    border-style: solid;
    border-radius: 2.5vw;
    font-family: "Source Sans Pro";
    font-weight: 600;
    font-size: 1.1vw;
    text-align: center;
    transition: all 0.3s;
    margin-left: 4vw;

}

.boton2:hover {
    transform: scale(1.1);
    cursor: pointer;
}







.sec1-part2 {
    height: 50vw;
}





.video {
    height: 22vw;
    width: 38vw;
    margin-top: 3vw;
    margin-left: 5vw;
    
}
























/* SECCION 2 */

















.sec2 {
    width: 100vw;
    background-color: #a16ae848;
   
}



.h2-titles {
    width: 80%;
    height: 5vw;
    box-shadow: 10px 11px 5px rgba(0, 0, 0, 0.75);
    background: #603f8b;
    border-radius: 52.5vw;
    margin-left: 8.5vw;
    margin-bottom: 5vw;
    margin-top: 5vw;
}


.h2-titles h2 {

    font-size: 2.8vw;
    color: #ffffff;
    font-family: "Source Sans 3";
    font-weight: 400;
    line-height: 1.28;
    text-align: center;
    padding-top: 0.8vw;

}

.card {
    height: 32vw;
    width: 22vw;
    text-align: center;
}


.card-body {
    background: linear-gradient(#4b0363af, rgb(191, 126, 218));
}

.card1{
    margin-left:20vw;
    margin-right: 5vw;
}

.card2{
    margin-left: 5vw;
}

#btn-card1 {
    font-size: 1vw;
    padding: 0.7vw 1.5vw;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    background-image: -o-linear-gradient(left, #ffb347 0%, #ffcc33 50%, #ffb347 100%);
    background-image: linear-gradient(to right, #ffb347 0%, #ffcc33 50%, #ffb347 100%);    
    color: white;
    box-shadow: 0 0 10px #eee;
    border: 0px solid;   
    align-items: center;
    border-radius: 1.5vw;
    transition: all 300ms;
}



#btn-card1:hover{
    transform: scale(1.1);
    color: rgb(39, 36, 36);
    text-decoration: none;
}


.card-text{
    color: #ffffff;
    font-size: 1vw;
    padding-top: 1vw;
    padding-bottom: 0.5vw;
}




















/* SECCION 3 */





















.title3{
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.tarjetas-grupo article{
    margin: auto
 }
 
 .tarjeta-formacion{
     background-image: url(../assets/media/formacion.jpg);  
 }


 .tarjeta-masterclasses{
    background-image: url(../assets/media/masterclass.jpg);  
}

.tarjeta-seminario{
    background-image: url(../assets/media/seminarios.jpg);  
}


 .tarjeta{
    list-style: none;
    background-size: cover;
    border: 1px solid black;
    height: 28vw;
    width: 20vw;
    border-radius: 0.5vw;
    position: relative;
    box-shadow: 1vw 1vw 0.5vw 0px rgb(0 0 0 / 75%);
    transition: all 300ms;
   
}

.tarjeta-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.tarjeta h3 {
    font-size: 1.5vw;
    color: #dbbf20;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: absolute;
    top: 55%;
}

.tarjeta p {
    margin: 0 1.5vw;
    color: #f5f5f5;
    text-align: center;
    letter-spacing: 0.1em;
    position: absolute;
    top: 60%;
    margin-top: 1.8vw;
    font-size: 1vw;
}


.btn-card2 {
    font-size: 1vw;
    padding: 0.5vw 1.5vw;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    background-image: -o-linear-gradient(left, #ffb347 0%, #ffcc33 50%, #ffb347 100%);
    background-image: linear-gradient(to right, #ffb347 0%, #ffcc33 50%, #ffb347 100%);    
    transition: 0.3s;
    color: white;
    box-shadow: 0 0 10px #eee;
    border: 0px solid;   
    align-items: center;
    border-radius: 1.5vw;
    margin-bottom: 1.4vw;

}



.btn-card2:hover {
    background-position: right center;
    color: rgb(39, 36, 36);
    text-decoration: none;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}






















/* SECCION 4 */















.aprende1{
    background-image: url(../assets/media/aprende1.jpg);
    }
    
    .aprende2{
    background-image: url(../assets/media/aprende2.jpg);
    }
    
    .aprende3{
    background-image: url(../assets/media/aprende3.jpg);
    }
    
    .aprende4{
    background-image: url(../assets/media/aprende4.jpg);
    }
    
    
    
    
    
    .caja-art-aprende {
            align-items: center;
            border: 1px solid antiquewhite;
            border-radius: 0.6vw;
            background-size: cover;
            background-position: center;
            background-color: #4b0363;
            box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 71%);
            transition: all 0.3s;
            height: 26vw;
            width: 18vw;
            margin: auto;
            margin-bottom: 5vw;
    }
    
    .caja-art-aprende:hover{
        transform: scale(1.03);
        cursor:default;
    }
    
    .caja-aprende p {
        color: antiquewhite;
        align-items: justify;
        margin: 0 1vw;
        font-size: 1.05vw;
        text-align: center;
        margin-top: 12vw;
    }








    /* CARROUSELES */






.carrouseles{
    height: 10vw;
    background-color: #5b5b5b;
    margin-bottom: 5vw;
    margin-top: 5vw;
    font-size: 3vw;
    color: #dbbf20;
    padding-left: 30vw;
}







/* FOOTER */


.footer{
    background-color: #5f5566;
    height: 27.5vw;
}


.contactate {
    color: #ffffff;
    font-size: 1.2vw;
}


.footer-titles{
    color: #ffffff;
    font-size: 1.2vw;
}

.footer-descrip{
    color: #ffffff;
    font-size: 1vw;
    transition: all 0.3s;
}

.footer-links{
    text-decoration: none;
    
}

.footer-descrip:hover{
    transform: scale(1.1);
}

.footer-copy{
        color: #ffffff;
        font-size: 1.2vw; 
        text-decoration: none;   
}

















.copyright{
    color: #ffffff;
    margin-left: 35vw;
}

